In [6]:
df=pd.read_json("test.json") 
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [18]:
for i in df.columns:
    print(len(df[i].unique()))

3
126
133
79
63
53
97
132
39
101
132
78
122
121

In [22]:
df[11].value_counts().sort_values(ascending=False)

1.04    8
1.23    7
1.12    6
0.89    5
1.25    5
       ..
0.97    1
0.76    1
1.45    1
0.48    1
0.99    1
Name: 11, Length: 78, dtype: int64

In [10]:
d1=df[11].head(20) 
d1

0     1.04
1     1.05
2     1.03
3     0.86
4     1.04
5     1.05
6     1.02
7     1.06
8     1.08
9     1.01
10    1.25
11    1.17
12    1.15
13    1.25
14    1.20
15    1.28
16    1.07
17    1.13
18    1.23
19    0.96
Name: 11, dtype: float64

In [20]:
d1.value_counts().sort_values(ascending=False)

1.25    2
1.05    2
1.04    2
0.96    1
0.86    1
1.03    1
1.07    1
1.28    1
1.01    1
1.17    1
1.02    1
1.13    1
1.20    1
1.08    1
1.06    1
1.23    1
1.15    1
Name: 11, dtype: int64

In [43]:
lst_5=d1.value_counts().sort_values(ascending=False).head(5).index
lst_5

Float64Index([1.25, 1.05, 1.04, 0.96, 0.86], dtype='float64')

In [28]:
lst_5=d1.value_counts().sort_values(ascending=False).head(5).values
lst_5=list(lst_5)
lst_5

[2, 2, 2, 1, 1]

In [45]:
for i in lst_5:
    df[i]=np.where(df[11]==i,1,0)

In [51]:

df[lst_5]

     1.25  1.05  1.04  0.96  0.86
0       0     0     1     0     0
1       0     1     0     0     0
2       0     0     0     0     0
3       0     0     0     0     1
4       0     0     1     0     0
..    ...   ...   ...   ...   ...
173     0     0     0     0     0
174     0     0     0     0     0
175     0     0     0     0     0
176     0     0     0     0     0
177     0     0     0     0     0

[178 rows x 5 columns]

In [52]:
df[11]

0      1.04
1      1.05
2      1.03
3      0.86
4      1.04
       ...
173    0.64
174    0.70
175    0.59
176    0.60
177    0.61
Name: 11.0, Length: 178, dtype: float64

In [15]:
d1.unique()

array([1.04, 1.05, 1.03, 0.86, 1.02, 1.06, 1.08, 1.01, 1.25, 1.17, 1.15,
       1.2 , 1.28, 1.07, 1.13, 1.23, 0.96])

In [16]:
d1.dropna(inplace=True)

In [17]:
d1

0     1.04
1     1.05
2     1.03
3     0.86
4     1.04
5     1.05
6     1.02
7     1.06
8     1.08
9     1.01
10    1.25
11    1.17
12    1.15
13    1.25
14    1.20
15    1.28
16    1.07
17    1.13
18    1.23
19    0.96
Name: 11, dtype: float64

In [13]:
pd.get_dummies(d1)

,0.86,0.96,1.01,1.02,1.03,1.04,1.05,1.06,1.07,1.08,1.13,1.15,1.17,1.20,1.23,1.25,1.28
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
9,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
11,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
16,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
19,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
pd.get_dummies(d1,drop_first=True)

,0.96,1.01,1.02,1.03,1.04,1.05,1.06,1.07,1.08,1.13,1.15,1.17,1.20,1.23,1.25,1.28
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
9,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
11,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
14,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
16,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
19,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [41]:
a = np.arange(5,10)
np.where(a>8,10*a,a)

array([ 5,  6,  7,  8, 90])