In [2]:
df=pd.read_csv(r'C:\Users\ramni\OneDrive\Documents\train.csv')
df

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [3]:
X=df.iloc[:,:-1]
y=df['price_range']

In [4]:
X.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0

In [5]:
y.head()

0    1
1    2
2    2
3    2
4    1
Name: price_range, dtype: int64

In [19]:
from sklearn.datasets import load_boston
df = load_boston()

In [25]:
print(df.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [26]:
print(df.target)

[24.  21.6 34.7 33.4 36.2 28.7 22.9 27.1 16.5 18.9 15.  18.9 21.7 20.4
 18.2 19.9 23.1 17.5 20.2 18.2 13.6 19.6 15.2 14.5 15.6 13.9 16.6 14.8
 18.4 21.  12.7 14.5 13.2 13.1 13.5 18.9 20.  21.  24.7 30.8 34.9 26.6
 25.3 24.7 21.2 19.3 20.  16.6 14.4 19.4 19.7 20.5 25.  23.4 18.9 35.4
 24.7 31.6 23.3 19.6 18.7 16.  22.2 25.  33.  23.5 19.4 22.  17.4 20.9
 24.2 21.7 22.8 23.4 24.1 21.4 20.  20.8 21.2 20.3 28.  23.9 24.8 22.9
 23.9 26.6 22.5 22.2 23.6 28.7 22.6 22.  22.9 25.  20.6 28.4 21.4 38.7
 43.8 33.2 27.5 26.5 18.6 19.3 20.1 19.5 19.5 20.4 19.8 19.4 21.7 22.8
 18.8 18.7 18.5 18.3 21.2 19.2 20.4 19.3 22.  20.3 20.5 17.3 18.8 21.4
 15.7 16.2 18.  14.3 19.2 19.6 23.  18.4 15.6 18.1 17.4 17.1 13.3 17.8
 14.  14.4 13.4 15.6 11.8 13.8 15.6 14.6 17.8 15.4 21.5 19.6 15.3 19.4
 17.  15.6 13.1 41.3 24.3 23.3 27.  50.  50.  50.  22.7 25.  50.  23.8
 23.8 22.3 17.4 19.1 23.1 23.6 22.6 29.4 23.2 24.6 29.9 37.2 39.8 36.2
 37.9 32.5 26.4 29.6 50.  32.  29.8 34.9 37.  30.5 36.4 31.1 29.1 50.
 33.3 30.3 34.6 34.9 32.9 24.1 42.3 48.5 50.  22.6 24.4 22.5 24.4 20.
 21.7 19.3 22.4 28.1 23.7 25.  23.3 28.7 21.5 23.  26.7 21.7 27.5 30.1
 44.8 50.  37.6 31.6 46.7 31.5 24.3 31.7 41.7 48.3 29.  24.  25.1 31.5
 23.7 23.3 22.  20.1 22.2 23.7 17.6 18.5 24.3 20.5 24.5 26.2 24.4 24.8
 29.6 42.8 21.9 20.9 44.  50.  36.  30.1 33.8 43.1 48.8 31.  36.5 22.8
 30.7 50.  43.5 20.7 21.1 25.2 24.4 35.2 32.4 32.  33.2 33.1 29.1 35.1
 45.4 35.4 46.  50.  32.2 22.  20.1 23.2 22.3 24.8 28.5 37.3 27.9 23.9
 21.7 28.6 27.1 20.3 22.5 29.  24.8 22.  26.4 33.1 36.1 28.4 33.4 28.2
 22.8 20.3 16.1 22.1 19.4 21.6 23.8 16.2 17.8 19.8 23.1 21.  23.8 23.1
 20.4 18.5 25.  24.6 23.  22.2 19.3 22.6 19.8 17.1 19.4 22.2 20.7 21.1
 19.5 18.5 20.6 19.  18.7 32.7 16.5 23.9 31.2 17.5 17.2 23.1 24.5 26.6
 22.9 24.1 18.6 30.1 18.2 20.6 17.8 21.7 22.7 22.6 25.  19.9 20.8 16.8
 21.9 27.5 21.9 23.1 50.  50.  50.  50.  50.  13.8 13.8 15.  13.9 13.3
 13.1 10.2 10.4 10.9 11.3 12.3  8.8  7.2 10.5  7.4 10.2 11.5 15.1 23.2
  9.7 13.8 12.7 13.1 12.5  8.5  5.   6.3  5.6  7.2 12.1  8.3  8.5  5.
 11.9 27.9 17.2 27.5 15.  17.2 17.9 16.3  7.   7.2  7.5 10.4  8.8  8.4
 16.7 14.2 20.8 13.4 11.7  8.3 10.2 10.9 11.   9.5 14.5 14.1 16.1 14.3
 11.7 13.4  9.6  8.7  8.4 12.8 10.5 17.1 18.4 15.4 10.8 11.8 14.9 12.6
 14.1 13.  13.4 15.2 16.1 17.8 14.9 14.1 12.7 13.5 14.9 20.  16.4 17.7
 19.5 20.2 21.4 19.9 19.  19.1 19.1 20.1 19.9 19.6 23.2 29.8 13.8 13.3
 16.7 12.  14.6 21.4 23.  23.7 25.  21.8 20.6 21.2 19.1 20.6 15.2  7.
  8.1 13.6 20.1 21.8 24.5 23.1 19.7 18.3 21.2 17.5 16.8 22.4 20.6 23.9
 22.  11.9]

In [27]:
boston = pd.DataFrame(df.data, columns=df.feature_names)
boston.head(20)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
6,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5.0,311.0,15.2,396.90,19.15
8,0.21124,12.5,7.87,0.0,0.524,5.631,100.0,6.0821,5.0,311.0,15.2,386.63,29.93
9,0.17004,12.5,7.87,0.0,0.524,6.004,85.9,6.5921,5.0,311.0,15.2,386.71,17.10
10,0.22489,12.5,7.87,0.0,0.524,6.377,94.3,6.3467,5.0,311.0,15.2,392.52,20.45
11,0.11747,12.5,7.87,0.0,0.524,6.009,82.9,6.2267,5.0,311.0,15.2,396.90,13.27
12,0.09378,12.5,7.87,0.0,0.524,5.889,39.0,5.4509,5.0,311.0,15.2,390.50,15.71
13,0.62976,0.0,8.14,0.0,0.538,5.949,61.8,4.7075,4.0,307.0,21.0,396.90,8.26
14,0.63796,0.0,8.14,0.0,0.538,6.096,84.5,4.4619,4.0,307.0,21.0,380.02,10.26
15,0.62739,0.0,8.14,0.0,0.538,5.834,56.5,4.4986,4.0,307.0,21.0,395.62,8.47
16,1.05393,0.0,8.14,0.0,0.538,5.935,29.3,4.4986,4.0,307.0,21.0,386.85,6.58
17,0.78420,0.0,8.14,0.0,0.538,5.990,81.7,4.2579,4.0,307.0,21.0,386.75,14.67
18,0.80271,0.0,8.14,0.0,0.538,5.456,36.6,3.7965,4.0,307.0,21.0,288.99,11.69
19,0.72580,0.0,8.14,0.0,0.538,5.727,69.5,3.7965,4.0,307.0,21.0,390.95,11.28

In [7]:
##program for converting video to audio
import moviepy.editor as np 
def ex(vp,an):
    clip=np.VideoFileClip(vp)
    clip.audio.write_audiofile(an)

In [11]:
vp=r"C:\Users\ramni\Downloads\Actions - Devil's Words.stem.mp4" 
an="ex.mp3" 
ex(vp,an)

chunk:   0%|                                                                        | 0/4336 [00:00<?, ?it/s, now=None]

MoviePy - Writing audio in ex.mp3

MoviePy - Done.

In [4]:
df=pd.read_csv(r'D:\train.csv')
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [43]:
d=df.groupby('MSZoning')
d

In [46]:
for i,j in d:
    print(i)
    print(j)

C (all)
        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
30      31          70  C (all)         50.0     8500   Pave  Pave      Reg
88      89          50  C (all)        105.0     8470   Pave   NaN      IR1
93      94         190  C (all)         60.0     7200   Pave   NaN      Reg
495    496          30  C (all)         60.0     7879   Pave   NaN      Reg
557    558          50  C (all)         60.0    11040   Pave   NaN      Reg
711    712          50  C (all)         66.0     8712   Pave  Pave      Reg
812    813          20  C (all)         66.0     8712   Grvl   NaN      Reg
916    917          20  C (all)         50.0     9000   Pave   NaN      Reg
1061  1062          30  C (all)        120.0    18000   Grvl   NaN      Reg
1279  1280          50  C (all)         60.0     7500   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
30           Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
88           Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
93           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
495          Lvl    AllPub  ...        0    NaN   GdWo         NaN       0
557          Low    AllPub  ...        0    NaN    NaN         NaN       0
711          HLS    AllPub  ...        0    NaN    NaN         NaN       0
812          Bnk    AllPub  ...        0    NaN    NaN        Shed      54
916          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1061         Low    AllPub  ...        0    NaN    NaN        Shed     560
1279         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
30        7   2008        WD         Normal      40000
88       10   2009     ConLD        Abnorml      85000
93       11   2007        WD         Normal     133900
495      11   2009        WD        Abnorml      34900
557       9   2006       COD         Normal     108000
711       1   2010        WD        Abnorml     102776
812       6   2010        WD         Alloca      55993
916      10   2006        WD        Abnorml      35311
1061      8   2008     ConLD         Normal      81000
1279      4   2010       COD        Abnorml      68400

[10 rows x 81 columns]
FV
        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
47      48          20       FV         84.0    11096   Pave   NaN      Reg
56      57         160       FV         24.0     2645   Pave  Pave      Reg
87      88         160       FV         40.0     3951   Pave  Pave      Reg
105    106          60       FV         75.0     9375   Pave   NaN      Reg
115    116         160       FV         34.0     3230   Pave  Pave      Reg
...    ...         ...      ...          ...      ...    ...   ...      ...
1364  1365         160       FV         30.0     3180   Pave  Pave      Reg
1365  1366          60       FV          NaN     7500   Pave   NaN      Reg
1374  1375          60       FV         85.0    10625   Pave   NaN      Reg
1442  1443          60       FV         85.0    11003   Pave   NaN      Reg
1454  1455          20       FV         62.0     7500   Pave  Pave      Reg

     LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal  \
47           Lvl    AllPub  ...        0    NaN   NaN         NaN       0
56           Lvl    AllPub  ...        0    NaN   NaN         NaN       0
87           Lvl    AllPub  ...        0    NaN   NaN         NaN       0
105          Lvl    AllPub  ...        0    NaN   NaN         NaN       0
115          Lvl    AllPub  ...        0    NaN   NaN         NaN       0
...          ...       ...  ...      ...    ...   ...         ...     ...
1364         Lvl    AllPub  ...        0    NaN   NaN         NaN       0
1365         Lvl    AllPub  ...        0    NaN   NaN         NaN       0
1374         Lvl    AllPub  ...        0    NaN   NaN         NaN       0
1442         Lvl    AllPub  ...        0    NaN   NaN         NaN       0
1454         Lvl    AllPub  ...        0    NaN   NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
47        7   2007        WD         Normal     249700
56        8   2009        WD        Abnorml     172500
87        6   2009       New        Partial     164500
105       8   2008        WD         Normal     250000
115       6   2007        WD         Normal     176000
...     ...    ...       ...            ...        ...
1364      4   2006        WD        Abnorml     144152
1365      1   2010        WD         Normal     216000
1374      7   2008        WD         Normal     250000
1442      4   2009        WD         Normal     310000
1454     10   2009        WD         Normal     185000

[65 rows x 81 columns]
RH
        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
341    342          20       RH         60.0     8400   Pave   NaN      Reg
383    384          45       RH         60.0     9000   Pave   NaN      Reg
543    544         120       RH         34.0     4058   Pave   NaN      Reg
635    636         190       RH         60.0    10896   Pave  Pave      Reg
671    672          70       RH         54.0     6629   Pave   NaN      Reg
681    682          50       RH         55.0     4500   Pave  Pave      IR2
778    779          90       RH         60.0     8400   Pave   NaN      Reg
840    841          70       RH          NaN    12155   Pave   NaN      IR1
913    914          90       RH         82.0     6270   Pave   NaN      Reg
951    952          20       RH         60.0     7800   Pave   NaN      Reg
955    956          90       RH         82.0     7136   Pave   NaN      IR1
1030  1031         190       RH          NaN     7082   Pave   NaN      Reg
1206  1207          20       RH          NaN     8900   Pave   NaN      Reg
1234  1235          70       RH         55.0     8525   Pave   NaN      Reg
1264  1265         120       RH         34.0     4060   Pave   NaN      Reg
1326  1327          30       RH         70.0     4270   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
341          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
383          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
543          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
635          Bnk    AllPub  ...        0    NaN    NaN         NaN       0
671          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
681          Bnk    AllPub  ...        0    NaN    NaN         NaN       0
778          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
840          Lvl    AllPub  ...        0    NaN    NaN         NaN       0
913          HLS    AllPub  ...        0    NaN    NaN         NaN       0
951          Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
955          HLS    AllPub  ...        0    NaN    NaN         NaN       0
1030         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1206         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1234         Bnk    AllPub  ...        0    NaN    NaN         NaN       0
1264         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1326         Bnk    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
341       9   2009        WD         Normal      82000
383      10   2009        WD         Normal      76000
543       6   2007        WD         Normal     133000
635       3   2007        WD        Abnorml     200000
671       7   2009        WD         Normal     103600
681       7   2009        WD        Abnorml     159434
778      10   2007        WD         Normal     144000
840       3   2008        WD         Normal     140000
913       8   2007        WD         Normal     145000
951       7   2006        WD        Abnorml     119900
955       8   2007        WD         Normal     145000
1030      7   2006        WD         Normal     160000
1206     11   2006        WD         Normal     107000
1234     11   2008        WD        Abnorml     130000
1264      8   2008       COD        Abnorml     181000
1326      5   2007        WD         Normal      79000

[16 rows x 81 columns]
RL
        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        1          60       RL         65.0     8450   Pave   NaN      Reg
1        2          20       RL         80.0     9600   Pave   NaN      Reg
2        3          60       RL         68.0    11250   Pave   NaN      IR1
3        4          70       RL         60.0     9550   Pave   NaN      IR1
4        5          60       RL         84.0    14260   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
0            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
2            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
3            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
4            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1455         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1457         Lvl    AllPub  ...        0    NaN  GdPrv        Shed    2500
1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
0         2   2008        WD         Normal     208500
1         5   2007        WD         Normal     181500
2         9   2008        WD         Normal     223500
3         2   2006        WD        Abnorml     140000
4        12   2008        WD         Normal     250000
...     ...    ...       ...            ...        ...
1455      8   2007        WD         Normal     175000
1456      2   2010        WD         Normal     210000
1457      5   2010        WD         Normal     266500
1458      4   2010        WD         Normal     142125
1459      6   2008        WD         Normal     147500

[1151 rows x 81 columns]
RM
        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
8        9          50       RM         51.0     6120   Pave   NaN      Reg
15      16          45       RM         51.0     6120   Pave   NaN      Reg
21      22          45       RM         57.0     7449   Pave  Grvl      Reg
23      24         120       RM         44.0     4224   Pave   NaN      Reg
29      30          30       RM         60.0     6324   Pave   NaN      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1428  1429          30       RM         60.0     7200   Pave   NaN      Reg
1438  1439          20       RM         90.0     7407   Pave   NaN      Reg
1441  1442         120       RM          NaN     4426   Pave   NaN      Reg
1449  1450         180       RM         21.0     1533   Pave   NaN      Reg
1452  1453         180       RM         35.0     3675   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
8            Lvl    AllPub  ...        0    NaN    NaN         NaN       0
15           Lvl    AllPub  ...        0    NaN  GdPrv         NaN       0
21           Bnk    AllPub  ...        0    NaN  GdPrv         NaN       0
23           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
29           Lvl    AllPub  ...        0    NaN    NaN         NaN       0
...          ...       ...  ...      ...    ...    ...         ...     ...
1428         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1438         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1441         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1449         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1452         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
8         4   2008        WD        Abnorml     129900
15        7   2007        WD         Normal     132000
21        6   2007        WD         Normal     139400
23        6   2007        WD         Normal     129900
29        5   2008        WD         Normal      68500
...     ...    ...       ...            ...        ...
1428      2   2010        WD        Abnorml     119000
1438      4   2010        WD         Normal     149700
1441      5   2008        WD         Normal     149300
1449      8   2006        WD        Abnorml      92000
1452      5   2006        WD         Normal     145000

[218 rows x 81 columns]

In [11]:
d=df.groupby('MSSubClass')['SalePrice'].count()
d

MSSubClass
20     536
30      69
40       4
45      12
50     144
60     299
70      60
75      16
80      58
85      20
90      52
120     87
160     63
180     10
190     30
Name: SalePrice, dtype: int64

In [49]:
d=df.groupby('MSSubClass').count()
d

,Id,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
MSSubClass,,,,,,,,,,,,,,,,,,,,,
20,536,536,437,536,536,5,536,536,536,536,...,536,1,117,20,536,536,536,536,536,536
30,69,69,63,69,69,12,69,69,69,69,...,69,0,15,5,69,69,69,69,69,69
40,4,4,3,4,4,1,4,4,4,4,...,4,0,0,2,4,4,4,4,4,4
45,12,12,12,12,12,1,12,12,12,12,...,12,0,4,0,12,12,12,12,12,12
50,144,144,128,144,144,24,144,144,144,144,...,144,0,44,9,144,144,144,144,144,144
60,299,299,230,299,299,2,299,299,299,299,...,299,3,33,9,299,299,299,299,299,299
70,60,60,55,60,60,16,60,60,60,60,...,60,0,14,1,60,60,60,60,60,60
75,16,16,15,16,16,3,16,16,16,16,...,16,1,5,0,16,16,16,16,16,16
80,58,58,38,58,58,0,58,58,58,58,...,58,2,26,2,58,58,58,58,58,58
85,20,20,14,20,20,0,20,20,20,20,...,20,0,9,1,20,20,20,20,20,20
90,52,52,47,52,52,2,52,52,52,52,...,52,0,3,3,52,52,52,52,52,52
120,87,87,67,87,87,4,87,87,87,87,...,87,0,2,0,87,87,87,87,87,87
160,63,63,55,63,63,15,63,63,63,63,...,63,0,3,0,63,63,63,63,63,63
180,10,10,10,10,10,0,10,10,10,10,...,10,0,2,0,10,10,10,10,10,10
190,30,30,27,30,30,6,30,30,30,30,...,30,0,4,2,30,30,30,30,30,30

In [15]:
df['MSSubClass'].unique()

array([ 60,  20,  70,  50, 190,  45,  90, 120,  30,  85,  80, 160,  75,
       180,  40], dtype=int64)

In [16]:
d=df.groupby('MSSubClass')['YrSold'].count()
d

MSSubClass
20     536
30      69
40       4
45      12
50     144
60     299
70      60
75      16
80      58
85      20
90      52
120     87
160     63
180     10
190     30
Name: YrSold, dtype: int64

In [23]:
d=df.groupby('MSSubClass')['SalePrice','Alley'].count()
d

<ipython-input-23-4ca0ae862b7e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  d=df.groupby('MSSubClass')['SalePrice','Alley'].count()

            SalePrice  Alley
MSSubClass
20                536      5
30                 69     12
40                  4      1
45                 12      1
50                144     24
60                299      2
70                 60     16
75                 16      3
80                 58      0
85                 20      0
90                 52      2
120                87      4
160                63     15
180                10      0
190                30      6

In [17]:
d=df.groupby('MSSubClass').count()
d

,Id,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
MSSubClass,,,,,,,,,,,,,,,,,,,,,
20,536,536,437,536,536,5,536,536,536,536,...,536,1,117,20,536,536,536,536,536,536
30,69,69,63,69,69,12,69,69,69,69,...,69,0,15,5,69,69,69,69,69,69
40,4,4,3,4,4,1,4,4,4,4,...,4,0,0,2,4,4,4,4,4,4
45,12,12,12,12,12,1,12,12,12,12,...,12,0,4,0,12,12,12,12,12,12
50,144,144,128,144,144,24,144,144,144,144,...,144,0,44,9,144,144,144,144,144,144
60,299,299,230,299,299,2,299,299,299,299,...,299,3,33,9,299,299,299,299,299,299
70,60,60,55,60,60,16,60,60,60,60,...,60,0,14,1,60,60,60,60,60,60
75,16,16,15,16,16,3,16,16,16,16,...,16,1,5,0,16,16,16,16,16,16
80,58,58,38,58,58,0,58,58,58,58,...,58,2,26,2,58,58,58,58,58,58
85,20,20,14,20,20,0,20,20,20,20,...,20,0,9,1,20,20,20,20,20,20
90,52,52,47,52,52,2,52,52,52,52,...,52,0,3,3,52,52,52,52,52,52
120,87,87,67,87,87,4,87,87,87,87,...,87,0,2,0,87,87,87,87,87,87
160,63,63,55,63,63,15,63,63,63,63,...,63,0,3,0,63,63,63,63,63,63
180,10,10,10,10,10,0,10,10,10,10,...,10,0,2,0,10,10,10,10,10,10
190,30,30,27,30,30,6,30,30,30,30,...,30,0,4,2,30,30,30,30,30,30

In [55]:
d=df.groupby('MSSubClass')
d

In [56]:
for i,j in d: 
    print(i)
    print(len(j))

20
536
30
69
40
4
45
12
50
144
60
299
70
60
75
16
80
58
85
20
90
52
120
87
160
63
180
10
190
30

In [61]:
for i,j in d: 
    print(i)
    print(j["Alley"])

20
1        NaN
6        NaN
10       NaN
12       NaN
13       NaN
        ...
1453     NaN
1454    Pave
1456     NaN
1458     NaN
1459     NaN
Name: Alley, Length: 536, dtype: object
30
29       NaN
68       NaN
92      Grvl
98       NaN
106     Grvl
        ...
1380    Grvl
1383     NaN
1428     NaN
1432    Grvl
1443     NaN
Name: Alley, Length: 69, dtype: object
40
164     Pave
589      NaN
873      NaN
1270     NaN
Name: Alley, dtype: object
45
15       NaN
21      Grvl
127      NaN
163      NaN
325      NaN
383      NaN
437      NaN
514      NaN
555      NaN
617      NaN
826      NaN
1069     NaN
Name: Alley, dtype: object
50
5        NaN
8        NaN
46       NaN
51       NaN
69       NaN
        ...
1404    Grvl
1411     NaN
1414    Pave
1427    Grvl
1448     NaN
Name: Alley, Length: 144, dtype: object
60
0       NaN
2       NaN
4       NaN
7       NaN
11      NaN
       ...
1433    NaN
1439    NaN
1442    NaN
1447    NaN
1455    NaN
Name: Alley, Length: 299, dtype: object
70
3        NaN
30      Pave
63       NaN
114      NaN
181      NaN
190      NaN
217     Grvl
289      NaN
314     Grvl
329      NaN
365      NaN
407      NaN
417      NaN
456     Grvl
458     Grvl
461      NaN
463      NaN
467      NaN
482     Pave
508      NaN
519      NaN
531      NaN
565      NaN
596     Grvl
608      NaN
630     Grvl
651      NaN
657      NaN
671      NaN
676     Grvl
716     Grvl
740     Grvl
747     Pave
807      NaN
840      NaN
841     Grvl
939      NaN
974      NaN
991     Grvl
1012     NaN
1075     NaN
1096     NaN
1132     NaN
1147     NaN
1149     NaN
1168     NaN
1174     NaN
1234     NaN
1235     NaN
1244     NaN
1263    Pave
1292     NaN
1301     NaN
1349    Pave
1360     NaN
1382     NaN
1397     NaN
1408     NaN
1440     NaN
1457     NaN
Name: Alley, dtype: object
75
61       NaN
185      NaN
197      NaN
198      NaN
267      NaN
304      NaN
328     Pave
583      NaN
735      NaN
784     Grvl
809      NaN
852      NaN
883      NaN
1031     NaN
1197     NaN
1248    Grvl
Name: Alley, dtype: object
80
54      NaN
84      NaN
111     NaN
120     NaN
186     NaN
253     NaN
260     NaN
262     NaN
295     NaN
319     NaN
324     NaN
358     NaN
367     NaN
387     NaN
426     NaN
516     NaN
530     NaN
573     NaN
574     NaN
577     NaN
611     NaN
627     NaN
629     NaN
642     NaN
731     NaN
743     NaN
772     NaN
791     NaN
806     NaN
808     NaN
818     NaN
842     NaN
849     NaN
853     NaN
856     NaN
946     NaN
1005    NaN
1018    NaN
1116    NaN
1118    NaN
1124    NaN
1156    NaN
1164    NaN
1170    NaN
1213    NaN
1225    NaN
1229    NaN
1245    NaN
1247    NaN
1258    NaN
1273    NaN
1277    NaN
1290    NaN
1331    NaN
1355    NaN
1371    NaN
1379    NaN
1423    NaN
Name: Alley, dtype: object
85
42      NaN
360     NaN
362     NaN
376     NaN
547     NaN
587     NaN
615     NaN
663     NaN
770     NaN
783     NaN
845     NaN
878     NaN
952     NaN
980     NaN
1085    NaN
1214    NaN
1242    NaN
1392    NaN
1406    NaN
1445    NaN
Name: Alley, dtype: object
90
17       NaN
39       NaN
52       NaN
78       NaN
102      NaN
137      NaN
144      NaN
188      NaN
330      NaN
342      NaN
420      NaN
441      NaN
454      NaN
505     Grvl
569      NaN
570      NaN
582      NaN
634      NaN
728      NaN
736      NaN
738      NaN
778      NaN
779      NaN
843      NaN
886      NaN
894      NaN
897      NaN
910      NaN
913      NaN
921      NaN
940      NaN
942      NaN
943      NaN
954      NaN
955      NaN
984      NaN
1003     NaN
1011     NaN
1090     NaN
1129    Grvl
1163     NaN
1216     NaN
1230     NaN
1231     NaN
1232     NaN
1275     NaN
1283     NaN
1336     NaN
1350     NaN
1391     NaN
1412     NaN
1450     NaN
Name: Alley, dtype: object
120
23      NaN
34      NaN
45      NaN
62      NaN
81      NaN
       ...
1415    NaN
1421    NaN
1422    NaN
1431    NaN
1441    NaN
Name: Alley, Length: 87, dtype: object
160
56      Pave
87      Pave
115     Pave
145      NaN
172      NaN
        ...
1334     NaN
1358     NaN
1364    Pave
1367     NaN
1378     NaN
Name: Alley, Length: 63, dtype: object
180
75      NaN
434     NaN
472     NaN
489     NaN
614     NaN
649     NaN
1039    NaN
1297    NaN
1449    NaN
1452    NaN
Name: Alley, dtype: object
190
9        NaN
48       NaN
93       NaN
125      NaN
165      NaN
246     Grvl
291     Grvl
300      NaN
312      NaN
335      NaN
411      NaN
488      NaN
520     Grvl
535      NaN
635     Pave
637      NaN
703      NaN
705      NaN
713      NaN
861      NaN
969      NaN
985      NaN
1030     NaN
1062    Grvl
1144     NaN
1186     NaN
1190     NaN
1266     NaN
1393    Pave
1416     NaN
Name: Alley, dtype: object